# sets,dictionary

In [6]:
s={5,1,78,93}
print(type(s))
ds={('divya',23),('sri',28)}
print(type(ds))
d=dict(ds)
print(type(d),d)

<class 'set'>
<class 'set'>
<class 'dict'> {'sri': 28, 'divya': 23}

# adding elements in set and dictionary

In [21]:
s={'hello',8.9,(23,'good')}
s.add(5)
print('single element is added:',s)
s.update(['dinu',19])
print('two elements added:',s)
#dictionary
ds={'divya':23,'sri':28}
ds['dinu']=19
print('a single item is added:',ds)
ds1={'bharathi':25,'srinath':30}
ds.update(ds1)
print('another dict added :',ds)

single element is added: {'hello', 8.9, 5, (23, 'good')}
two elements added: {5, 8.9, 'dinu', 19, (23, 'good'), 'hello'}
a single item is added: {'divya': 23, 'sri': 28, 'dinu': 19}
another dict added : {'divya': 23, 'sri': 28, 'dinu': 19, 'bharathi': 25, 'srinath': 30}

# removing elements in set and dict

In [27]:
s={4,7,9,10,2,6}
s.discard(10)
print('discarding 10:',s)
s.remove(2)
print('removing 2:',s)
s.pop()
print('poping any value:',s)
s.clear()
print('clear set:',s)

discarding 10: {2, 4, 6, 7, 9}
removing 2: {4, 6, 7, 9}
poping any value: {6, 7, 9}
clear set: set()

# union,or,and function in set

In [31]:
s={5,3,8,1,0,6}
s1={4,0,6,33,5}
union=s|s1
print('union is:',union)
inter=s&s1
print('intersection is:',inter)
diff=s-s1
print('differences is:',diff)
exor=s^s1
print("exor is :",exor)

union is: {0, 1, 33, 3, 4, 5, 6, 8}
intersection is: {0, 5, 6}
differences is: {8, 1, 3}
exor is : {33, 1, 3, 4, 8}